{% extends "base.html" %}

{% block content %}
    
    

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li> <a href="/single-entry?id={{blog.id}}">{{blog.title}}</a>
                <form method="POST" action="/delete-blog" style="display:inline-block;">
                    <input type="hidden" name="blog-id" value="{{blog.id}}" />
                   
                </form>
            </li>
        </br>
        
        {{blog.body}}
        <hr />
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}